<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章列表</title>
    <link rel="stylesheet" href="js/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery-1.12.4.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="common_title">
            文章列表
        </div>
        <div class="container-fluid common_con">
            <div class="row opt_btns">
                <div class="col-xs-6">
                    <form class="form-inline">
                        <select id="selCategory" name="" class="form-control input-sm">
              <option>所有分类</option>
              <option>未分类</option>
              <option>奇趣事</option>
              <option>会生活</option>
              <option>爱旅行</option>
            </select>
                        <select id="selStatus" name="" class="form-control input-sm">
              <option>所有状态</option>
              <option value="drafted">草稿</option>
              <option value="published">已发布</option>
            </select>
                        <button id="btnSearch" class="btn btn-default btn-sm">筛选</button>
                    </form>
                </div>
                <div class="col-xs-6">
                    <a href="article_release.html" class="btn btn-success btn-sm pull-right" id="release_btn">发表文章</a>
                </div>
            </div>

            <table class="table table-striped table-bordered table-hover mp20">
                <thead>
                    <tr>
                        <th>标题</th>
                        <th>作者</th>
                        <th>分类</th>
                        <th class="text-center">发表时间</th>
                        <th class="text-center">状态</th>
                        <th class="text-center" width="100">操作</th>
                    </tr>
                </thead>
                <tbody id="listBox">

                </tbody>
            </table>

            <div class="row text-center">
                <ul class="pagination pagination-sm">
                    <li class="page-item first disabled"><a href="#" class="page-link">首页</a></li>
                    <li class="page-item prev disabled"><a href="#" class="page-link">上一页</a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">6</a></li>
                    <li class="page-item"><a href="#" class="page-link">7</a></li>
                    <li class="page-item next"><a href="#" class="page-link">下一页</a></li>
                    <li class="page-item last"><a href="#" class="page-link">尾页</a></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- 文章列表模板 -->
    <script type='text/html' id='listTpl'>
        {{each data}}
        <tr>
            <td>{{$value.title}}</td>
            <td>{{$value.author}}</td>
            <td>{{$value.category}}</td>
            <td class="text-center">{{$value.date}}</td>
            <td class="text-center">{{$value.state}}</td>
            <td class="text-center">
                <a href="article_edit.html?id={{$value.id}}" class="btn btn-default btn-xs edit">编辑</a>
                <a href="javascript:;" class="btn btn-danger btn-xs delete" data-id={{$value.id}}>删除</a>
            </td>
        </tr>
        {{/each}}
    </script>
    <!-- 页码模板 -->
    <!-- 分页模板 -->
    <script type="text/html" id="pageTpl">
        {{if page > 1}}
        <li><a href="javascript:;" onclick="changePage({{page - 1}})">上一页</a></li>
        {{/if}} {{each display}}
        <li><a href="javascript:;" onclick="changePage({{$value}})">{{$value}}</a></li>
        {{/each}} {{if page
        < pages}} <li><a href="javascript:;" onclick="changePage({{page + 1}})">下一页</a></li>
            {{/if}}
    </script>
    <script src="/admin/js/template-web.js"></script>




    <script>
        // 设置左侧菜单
        $('#release_btn').click(function() {
            window.parent.setMenu(1, 1);
        })


        //发送请求 获取文章列表
        $.ajax({
            type: 'get',
            url: 'http://localhost:8080/api/v1/admin/article/query',
            success: function(response) {
                console.log(response);
                // console.log(response.data[0].id);

                var html = template('listTpl', {
                    data: response.data.data
                });
                // console.log(html);
                var html = template('pageTpl', response.)
                $("#listBox").html(html);
            }
        })























        //给删除按钮添加注册事件 
        $('#listBox').on('click', '.delete', function() {
            if (confirm('您真的要执行删除操作吗')) {
                // 获取要删除的分类数据id
                var id = $(this).attr('data-id');
                // console.log(id);

                // 向服务器端发送请求 删除分类数据
                $.ajax({
                    type: 'post',
                    url: 'http://localhost:8080/api/v1/admin/article/delete',
                    data: {
                        id: id
                    },
                    success: function(response) {
                        location.reload();
                    }
                })
            }
        });
    </script>

</body>

</html>